body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  padding-right: 18px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ebebeb;
  padding: 12px;
  border-radius: 3px;
  width: 300px;
  font-size: 14px;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #222;
  transition: color 0.3s ease;
}

.home-page-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
}

.home-button {
  color: whitesmoke;
  padding: 10px;
  font-weight: 600;
}

.user-list-search {
  padding: 3px;
}

.user-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-list-content {
  width: 70%;
}

.user-list {
  color: rgb(243, 73, 73);
  width: 100%;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  color: #000000;
  text-align: left;
}

td,
th {
  padding: 0.5rem;
  border-bottom: #ffd900 1px solid;
}

.avatar-container {
  width: 100px;
  padding: 30px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  color: #000000;
}

.pagination-button {
  background-color: #ebebeb;
  border: none;
  color: #000000;
  padding: 10px 10px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

.user-container {
  width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: row;
  justify-content: center;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  text-transform: capitalize;
}

.user-info-item {
  width: 50%;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: #ffd900 1px solid;
  font-size: 16px;
}

.user-picture-container {
  width: 50%;
}

.user-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.repos-list {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.repo-container {
  max-height: 100px;
  width: 100%;
  display: flex;
  padding: 24px;
  margin: 24px;
  border: #ffd900 1px solid;
}
